@tailwind base;
@tailwind components;
@tailwind utilities;

 
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
:root {
  font-family: 'Work Sans', sans-serif;
}

.noScrollBar::-webkit-scrollbar{
  display: none;
}
.noScrollBar::-webkit-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.primaryBackground{
  background-color: #d20820;
}
.primaryBackground:hover{
  background-color: #f12940;
}
.lightPrimaryColor{
  color: #f12940;
}

/* background colors. */
.primaryCanvusColor{
background-color: #111122;
}
.secondaryCanvusColor{
  background-color: #1c2229;
}
.primarytextColor{
  color: white;
}